.nav-btn {
  margin: 2em;
  width: 7em;
  height: 7em;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.6); /* default */
  transition: opacity 0.3s linear;

  pointer-events: auto;
}
.nav-btn.clicked {
  /*background-color: rgba(230, 230, 230, 1);*/
  opacity: 0;
}

/* Icon */
.material-symbols-outlined.nav-btn-icon { /* Override font size like this, else it doesn't work */
  font-size: 4em;
}
.nav-btn-icon {
  color: white;
  transition: color 0.3s, font-size 0.3s;
}
/* When the button is hovered over, change icon style */
.nav-btn:hover .nav-btn-icon {
  font-size: 5em;
  color: #82ff39;
}
.nav-btn:active .nav-btn-icon {
  font-size: 3em;
}
.nav-btn-icon.clicked {
  color: black;
}

/* Sidebar todo scrollbar styles */
.sidebar {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 101;

  position: fixed; /* Force sidebar to overlap nav button*/
  top: 0;
  left: 0;
  overflow: auto; /* Prevent sidebar items from wrapping */
  white-space: nowrap;
  transform: translateX(-100%); /* Hide sidebar by default */
  transition: transform 0.3s; /* Animate */

  /*padding-right: 2em;*/
  pointer-events: auto;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    transform: translateY(-100%);
  }
}

.show-sidebar {
  transform: none;
}

.sidebar-item {
  padding: 1em;
  padding-right: 3em;
  border-bottom: #555 1px solid;
  cursor: pointer;

  transition: color 0.3s;
}
.sidebar-item:hover {
  color: #82ff39;
}
.sidebar-item:hover .sidebar-item-image {
  filter: sepia(1) hue-rotate(45deg);
}

.sidebar-item-text {
  display: inline-block;
  font-family: "Source Code Pro", "Courier New", monospace;
}
.sidebar-item-image {
  width: 4em;
  height: 4em;
  padding-right: 2em;
  transition: filter 0.3s;
}
