.image-container {
  position: fixed;
  top: 30vmin;
  left: 5vw;

  transition: transform 0.5s ease-in-out;
  transform: translateX(-30vw);
}

.image-container.show-infobox {
  transform: translateX(0);
}

@media only screen and (max-width: 600px) {
  .image-container {
    position: inherit;
  }
  .image-container.show-infobox {
    transform: translateX(0);
  }
}
