.project-image {
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 601px) {
  .project-image {
    width: 10vw;

    transform:
      perspective(1000px)
      rotateX(-4deg)
      rotateY(16deg)
      rotateZ(-4deg);
    transition: transform 0.4s, width 0.4s;
  }

  .project-image.focused {
    transform: rotateY(0deg) scale(3) translateX(4vw);
    z-index: 300;
  }
}

.project-image > img {
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .project-image {
    width: 85vw;
    margin-inline: auto;
    transform: none;
  }
}
