.project-image {
  margin-bottom: 2vh;
  margin-right: 2vw;
  cursor: pointer;
}

.project-image > img {
  width: 100%;
  object-fit: contain;
  border-radius: 1vmax;
}

/* Note that this is for landscape view! */
@media only screen and (min-width: 601px) {
  .project-image {
    width: 10vw;

    transform:
      perspective(1000px)
      rotateX(-4deg)
      rotateY(16deg)
      rotateZ(-4deg);
    transition: transform 0.4s, width 0.4s;
  }

  .project-image:hover {
    transform:
      rotateX(-2deg)
      rotateY(8deg)
      rotateZ(-2deg)
      scale(1.5) translateX(1vw);
    z-index: 330;
  }

  .project-image.focused {
    /* Use scale to avoid flex boundaries */
    /*--scale-factor: 2;*/
    transform: scale(var(--scale-factor)) translateX(4vw);
    /* z-index handled by react */
  }
}

@media only screen and (max-width: 600px) {
  .project-image {
    width: 85vw;
    margin-inline: auto;
    transform: none;
  }
}
