.border::before {
  /*https://dev.to/afif/border-with-gradient-and-radius-387f*/
  content: "";
  position: absolute;
  inset: 0;

  padding: 0.1vmax;
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  border-radius: 1vmax;

  background: linear-gradient(var(--border-angle),
    #000000 0%,
    #ffff99 8%,
    #ffbb22 14%,
    #aaaaaa 15%,
    #fff 100%
  );
}

.border {
  border-radius: 1vmax;
}
