body {
  background: black;
  font-family: "Source Code Pro", "Courier New", monospace;
  overflow: hidden;
}

.above-threejs-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .above-threejs-canvas {
    flex-direction: column;
  }
}

/*https://www.w3schools.com/howto/howto_css_disable_text_selection.asp*/
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::-moz-selection { /* Firefox */
  color: #ffbb22;
  background: none;
}

::selection {
  color: #ffbb22;
  background: none;
}
