/* TODO Review this */
::-webkit-scrollbar {
  background-color: black;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 2px 2px white;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  /*::-webkit-scrollbar { display: none; }*/
}
