.loading-screen-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading-screen {
  background-color: black;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  transition-delay: 1.5s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-loading-screen {
  opacity: 0;
}

.content {
  color: white;
  font-family: monospace;
}

.content > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.blackhole-img {
  transition-delay: 0.3s !important;
}

.planets-img {
  transition-delay: 0.5s !important;
}

.background-img {
  transition-delay: 0.7s !important;
}

.stars-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill;
}

.loading-msg {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: monospace;

  animation: fade 0.5s infinite;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0.2;
  }
}
