.loading-screen-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading-screen {
  background-color: black;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  font-family: monospace;
}

.content > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 500px;*/
  /*height: 500px;*/
}

.hide-loading-screen {
  opacity: 0;
}
