.project-info-container {
  position: absolute;
  right: 0;
  top: 0;           /* constrain vertical space */
  bottom: 0;        /* constrain vertical space */

  display: flex;
  flex-direction: column;
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  /*pointer-events: auto;*/
}

.infobox {
  position: relative;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0.1em 2em; /* Top and bottom, sides */

  display: block;
  transform: rotateX(-90deg) scaleY(0);
  transition: transform 0.2s, width 0.2s;

  color: white;
  pointer-events: auto;
  align-self: flex-end;
}

.show-infobox {
  transform: rotateX(0deg) scaleY(1);
}

@media only screen and (max-width: 600px) {
  .project-info-container {
    justify-content: flex-end;
    text-align: center;

    width: 100vw;
    height: 100%;
  }

  .infobox {
    align-self: center;
  }
}

.spacer {
  /*background-color: red;*/
  flex: 0 0 65vh;
  height: 65vh;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -1;
}

.scrollable {
  pointer-events: auto;
  /*overflow-y: auto;*/
}
