.project-info-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 1vw;

  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.infobox {
  position: relative;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  /*display: block;*/
  transform: rotateX(-90deg) scaleY(0);
  transition: transform 0.2s, width 0.2s;

  color: white;
  align-self: flex-end;
  pointer-events: auto;
  cursor: auto;
}

.show-infobox {
  transform: rotateX(0deg) scaleY(1);
}

.scrollable-region {
  display: flex;
  flex-direction: column;
}

.mobile-fade {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .project-info-container {
    justify-content: flex-end;
    flex-direction: column-reverse;
    text-align: center;

    width: 100vw;
    height: 100%;
    margin-right: 0;
  }

  .infobox {
    align-self: center;
  }

  .spacer {
    height: 73.5dvh;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .mobile-fade {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    z-index: 75;
    opacity: 0;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    transition: opacity 1s;
  }

  .mobile-fade.show {
    opacity: 1;
  }
}
