.infobox {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.1em 2em; /* Top and bottom, sides */

  display: block;
  transform: rotateX(-90deg) scaleY(0);
  transition: transform 0.3s, width 0.3s;

  color: white;
}

.show-infobox {
  transform: rotateX(0deg) scaleY(1);
}

@media only screen and (max-width: 600px) {
  .project-info-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;

    height: 100%;
  }
}
