.project-desc-container {
  display: flex;
  justify-content: flex-end;
}

.project-desc {
  width: 20vw;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .project-desc {
    width: 70vw;
    font-size: 0.8em;
    margin-inline: auto;
  }
}
