.project-desc {
  display: flex;
  justify-content: center;

  width: 24vw;
  margin-top: 10px;
  margin-bottom: 20px;
}

.desc-text {
  font-size: 1.1vmax;
  margin: 1vw;
}

@media only screen and (max-width: 600px) {
  .project-desc {
    width: 85vw;
    margin-inline: auto;
  }

  .desc-text {
    font-size: 1.6vmax;
    margin: 1vw;
    padding: 2vw;
  }
}
