.scroll-arrow.material-symbols-outlined {
  display: none;
  visibility: hidden;
}

.show-arrow {
  transform: translateY(0) !important;
}

@media only screen and (max-width: 600px) {
  .scroll-arrow.material-symbols-outlined {
    visibility: visible;
    display: block;
    position: static;

    color: white;
    font-size: 5em;
    text-shadow: 0 0 5px black;

    transform: translateY(100%);
    transition: transform 0.2s;
  }
}
