.scroll-arrow.material-symbols-outlined {
  display: none;
}

@media only screen and (max-width: 600px) {
  .scroll-arrow.material-symbols-outlined {
    display: block;
    position: static;

    color: white;
    font-size: 10dvh;
    text-shadow: 0 2px 5px black, 0 -2px 5px black;

    transform: translateY(100%);
    transition: transform 0.2s;
  }

  .show-arrow {
    animation: pulse 2s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}
