.tag-container {
  margin: 1vw;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.8vw;
  padding: 0.3vw;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
}

.tag-background {
  margin-right: 0.5vw;
  margin-top: 0.5vw;
  padding: 0.1vw;

  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border-radius: 5vw;
}
