.tag-container {
  margin-top: calc(0.2vw + 0.5rem);
  margin-inline: calc(0.3vw + 0.5rem);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  font-size: calc(0.2vw + 0.5rem);
  padding: calc(0.01vw + 0.5rem);
  font-weight: bold;
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5vmax;
}

.tag-background {
  margin-right: 1vmin;
  margin-top: 1vmin;
  padding: 0.2vmin;

  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border-radius: 5vmax;
}
