.tag-container {
  margin: 10px;
  margin-bottom: 0;

  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 7px;
  padding: 4px;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.tag-background {
  margin-right: 5px;
  margin-top: 5px;
  padding: 1px;

  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  border-radius: 10px;
}
