.titlebox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}

.title {
  font-size: 1.5vw;
  text-align: center;
  white-space: nowrap;
}

.title > h1 {
  transition: opacity 0.2s;
  overflow: hidden;
}

.show-arrow {
  transform: translateY(0) !important;
}

.scroll-arrow > .material-symbols-outlined {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .titlebox-container {
    align-items: center;
  }

  .title {
    display: block;
    margin-inline: auto;
    font-size: 1em;
  }

  .scroll-arrow > .material-symbols-outlined {
    visibility: visible;
    display: block;
    position: static;

    color: white;
    font-size: 5em;
    text-shadow: 0 0 5px black;

    transform: translateY(100%);
    transition: transform 0.2s;
  }
}
