.title {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-inline: 1vw;
  font-size: 1.5vw;
  text-align: center;
  white-space: nowrap;
  align-self: center;
}

.title > h1 {
  transition: opacity 0.2s;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .title {
    margin-inline: auto;
    font-size: 1em;
    height: 12dvh;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
