.showArrow {
  transform: translateY(0) !important;
}

.title {
  font-size: 1.5em;
  margin: 1em;
  text-align: center;
  align-self: flex-end;
  /*transform: perspective(300px) rotate3d(0, -0.2, 0, 10deg);*/
}

.scroll-arrow > .material-symbols-outlined {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .title {
    position: static;
    margin: 0 2em;

    font-size: 1em;
  }

  .scroll-arrow > .material-symbols-outlined {
    visibility: visible;
    display: block;
    position: static;

    color: white;
    font-size: 5em;
    text-shadow: 0 0 5px black;

    transform: translateY(100%);
    transition: transform 0.2s;
  }
}
