.title {
  font-size: 2vw;
  margin: 1em;
  text-align: center;

  white-space: nowrap;
}

.title > h1 {
  transition: opacity 0.2s;
  overflow: hidden;
}

.show-arrow {
  transform: translateY(0) !important;
}

.scroll-arrow > .material-symbols-outlined {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
  }

  .scroll-arrow > .material-symbols-outlined {
    visibility: visible;
    display: block;
    position: static;

    color: white;
    font-size: 5em;
    text-shadow: 0 0 5px black;

    transform: translateY(100%);
    transition: transform 0.2s;
  }
}
