.sidebar-item {
  font-size: 0.8rem;
  padding: 1rem;
  padding-right: 3rem;
  border-bottom: #555 1px solid;
  cursor: pointer;

  transition: font-size 0.3s, text-shadow 0.3s;
}

.sidebar-item:hover {
  text-shadow: rgba(255,255,255,1) 0 0 20px;
  font-size: 1.1rem;
}

.sidebar-item-text {
  display: inline-block;
}

.sidebar-item-image {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  transition: transform 0.3s;
}

.planet-entry:hover .sidebar-item-image {
  transform: rotateZ(-10deg);
}
