.sidebar {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 101;

  position: fixed; /* Force sidebar to overlap nav button*/
  top: 0;
  left: 0;
  overflow: auto; /* Prevent sidebar items from wrapping */
  white-space: nowrap;
  transform: translateX(-100%); /* Hide sidebar by default */
  transition: transform 0.3s; /* Animate */

  pointer-events: auto;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    transform: translateY(-100%);
  }
}

.show-sidebar {
  transform: none;
}

.sidebar-item {
  padding: 1em;
  padding-right: 3em;
  border-bottom: #555 1px solid;
  cursor: pointer;

  transition: color 0.3s;
}

.sidebar-item:hover {
  color: #82ff39;
}

.sidebar-item:hover .sidebar-item-image {
  filter: sepia(1) hue-rotate(45deg);
}

.sidebar-item-text {
  display: inline-block;
}

.sidebar-item-image {
  width: 4em;
  height: 4em;
  padding-right: 2em;
  transition: filter 0.3s;
}
