.sidebar {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000;

  position: fixed; /* Force sidebar to overlap nav button*/
  top: 0;
  left: 0;
  overflow: auto; /* Prevent sidebar items from wrapping */
  /*white-space: nowrap;*/
  transform: translateX(-100%); /* Hide sidebar by default */
  transition: transform 0.3s; /* Animate */

  pointer-events: auto;
  overflow-y: scroll;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    transform: translateY(-100%);
  }
}

.show-sidebar {
  transform: none;
}

.sidebar-item {
  font-size: 0.7em;
  padding: 1em;
  padding-right: 3em;
  border-bottom: #555 1px solid;
  cursor: pointer;

  transition: font-size 0.3s, text-shadow 0.3s;
}

.sidebar-item:hover {
  text-shadow: rgba(255,255,255,1) 0 0 20px;
  font-size: 1.1em;
}

.sidebar-item-text {
  display: inline-block;
}

.sidebar-item-image {
  width: 4em;
  height: 4em;
  margin-right: 2em;
  transition: transform 0.3s;
}

.planet-entry:hover .sidebar-item-image {
  transform: rotateZ(-5deg);
}

.overview-entry .sidebar-item-image {
  animation: spin 1s linear infinite reverse;
  animation-play-state: paused;
}

.overview-entry:hover .sidebar-item-image {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
