.sidebar {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  position: fixed; /* Force sidebar to overlap nav button*/
  top: 0;
  left: 0;
  overflow: auto; /* Prevent sidebar items from wrapping */
  /*white-space: nowrap;*/
  transform: translateX(-100%); /* Hide sidebar by default */
  transition: transform 0.3s; /* Animate */

  pointer-events: auto;
  overflow-y: scroll;
  height: 100%;
}

.sidebar-search {
  width: 90%;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;

  background: none;
  color: white;

  border: none;
  border-bottom: #555 1px solid;
  border-top: #555 1px solid;
}
.sidebar-search::before {
  content: "";
  position: absolute;
  inset: 5px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    transform: translateY(-100%);
  }
}

.show-sidebar {
  transform: none;
}

.sidebar-header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.material-symbols-outlined.sidebar-top-btn { /* Override font size like this, else it doesn't work */
  font-size: 300%;
  cursor: pointer;
  transition: font-size 0.3s, opacity 0.1s;
}
.material-symbols-outlined.sidebar-top-btn:hover {
  font-size: 400%;
}
.material-symbols-outlined.sidebar-top-btn:active {
  opacity: 0.5;
}

/* Re-centre button TODO apply */
.re-centre-btn {
  animation: spin 1s linear infinite reverse;
  animation-play-state: paused;
}

.re-centre-btn:hover {
  animation-play-state: running;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
