.border::before {
  /*https://dev.to/afif/border-with-gradient-and-radius-387f*/
  content: "";
  position: absolute;
  inset: 0;

  padding: 4px;
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  border-radius: 5px;
}

.quasar-border::before {
  background: linear-gradient(45deg,
    #000000 0%,
    #ffff99 15%,
    #ffaa00 40%,
    #884411 47%,
    #aaaaaa 60%,
    #666666 93%,
    #000000 100%
  );
}

.twinkle-border::before {
  inset: -5px;
  background: linear-gradient(45deg,
    #000000 0%,
    #ffff99 5%,
    #ffaa00 10%,
    #884411 15%,
    #aaaaaa 20%,
    #fff 93%,
    #fff 100%
  );
}
