.nav-btn {
  margin: 20px;
  width: 16vmin;
  height: 16vmin;

  cursor: pointer;

  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: opacity 0.3s linear, transform 1s ease-in-out;

  pointer-events: auto;
}

.nav-btn.clicked {
  opacity: 0;
}

/* Icon */
.material-symbols-outlined.nav-btn-icon { /* Override font size like this, else it doesn't work */
  font-size: 10vmin;
}

.nav-btn-icon {
  color: white;
  transition: color 0.3s, font-size 0.3s, text-shadow 0.3s;
}

/* When the button is hovered over, change icon style */
.nav-btn:hover .nav-btn-icon {
  font-size: 8vmin;
  text-shadow: rgba(255,255,255,1) 0 0 14px;
}

.nav-btn:active .nav-btn-icon {
  font-size: 6vmin;
}

.nav-btn-icon.clicked {
  color: black;
}

.offscreen {
  transform: translateX(-150%) translateY(-150%) rotateZ(30deg);
}
