.nav-btn {
  margin: 2em;
  width: 7em;
  height: 7em;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.6); /* default */
  transition: opacity 0.3s linear;

  pointer-events: auto;
}

.nav-btn.clicked {
  opacity: 0;
}

/* Icon */
.material-symbols-outlined.nav-btn-icon { /* Override font size like this, else it doesn't work */
  font-size: 4em;
}

.nav-btn-icon {
  color: white;
  transition: color 0.3s, font-size 0.3s;
}

/* When the button is hovered over, change icon style */
.nav-btn:hover .nav-btn-icon {
  font-size: 5em;
  color: #82ff39;
}

.nav-btn:active .nav-btn-icon {
  font-size: 3em;
}

.nav-btn-icon.clicked {
  color: black;
}
