.tutorial-container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-75%);
}

.static-floor {
  width: 101px;
  height: 101px;
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

  transform:
    rotateX(50deg)
    rotateZ(45deg);
  transform-style: preserve-3d;
  border-radius: 32px;
}

.reference-object {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 40px;
  height: 40px;
  background-color: white;

  transform:
    translate(-50%, -50%)
    rotateX(50deg)
    rotateZ(45deg);
  transform-style: preserve-3d;
  border-radius: 5px;

  animation-iteration-count: infinite;
  animation-duration: 2s;
}

body {
  /* https://icon-sets.iconify.design/ph/mouse-right-click-fill/ */
  --right-click-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M144 16h-32a64.07 64.07 0 0 0-64 64v96a64.07 64.07 0 0 0 64 64h32a64.07 64.07 0 0 0 64-64V80a64.07 64.07 0 0 0-64-64m-32 16h16v72H64V80a48.05 48.05 0 0 1 48-48m32 192h-32a48.05 48.05 0 0 1-48-48v-56h128v56a48.05 48.05 0 0 1-48 48'/%3E%3C/svg%3E");

  /* https://icon-sets.iconify.design/ph/mouse-left-click-fill/ */
  --left-click-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M144 16h-32a64.07 64.07 0 0 0-64 64v96a64.07 64.07 0 0 0 64 64h32a64.07 64.07 0 0 0 64-64V80a64.07 64.07 0 0 0-64-64m48 64v24h-64V32h16a48.05 48.05 0 0 1 48 48m-48 144h-32a48.05 48.05 0 0 1-48-48v-56h128v56a48.05 48.05 0 0 1-48 48'/%3E%3C/svg%3E");

  /* https://icon-sets.iconify.design/hugeicons/mouse-scroll-01/ */
  --mouse-scroll-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-width='1.5'%3E%3Cpath d='M4.74 17.089c.19 2.391 2.084 4.422 4.525 4.723c.898.11 1.81.188 2.735.188s1.837-.078 2.735-.188c2.44-.301 4.334-2.332 4.524-4.723c.132-1.657.241-3.357.241-5.089s-.11-3.432-.24-5.089c-.19-2.391-2.084-4.422-4.525-4.723C13.837 2.078 12.925 2 12 2s-1.837.078-2.735.188c-2.44.3-4.335 2.332-4.524 4.723C4.609 8.568 4.5 10.268 4.5 12s.109 3.432.24 5.089Z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M11.988 6.84v4.92m-1.984-3.9c.982-1.02 1.58-1.92 2.036-1.855c.383-.003.742.595 1.964 1.855m-.008 3.282c-.982 1.02-1.58 1.92-2.036 1.855c-.383.004-.742-.595-1.964-1.855'/%3E%3C/g%3E%3C/svg%3E");

  /* https://icon-sets.iconify.design/iconoir/one-finger-select-hand-gesture/ */
  --one-finger-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='m7.5 12l-2.004 2.672a2 2 0 0 0 .126 2.552l3.784 4.128c.378.413.912.648 1.473.648H15.5c2.4 0 4-2 4-4q0 0 0 0V9.429m-3 .571v-.571c0-2.286 3-2.286 3 0'/%3E%3Cpath d='M13.5 10V8.286c0-2.286 3-2.286 3 0V10m-6 0V7.5c0-2.286 3-2.286 3 0q0 0 0 0V10m-3 0V3.499A1.5 1.5 0 0 0 9 2v0a1.5 1.5 0 0 0-1.5 1.5V15'/%3E%3C/g%3E%3C/svg%3E");

  /* https://icon-sets.iconify.design/icon-park-outline/two-fingers/ */
  --two-finger-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='4'%3E%3Cpath d='M12.566 27.182Q10 28.941 10 33c0 4.06 4.975 11 9.462 11h11.48C35.332 44 38 40.15 38 37.06V24.01a3 3 0 0 0-3-3h-.01A2.99 2.99 0 0 0 32 24'/%3E%3Cpath d='M13.981 29.445v-18.44a3 3 0 0 1 3.006-2.997a3.014 3.014 0 0 1 3.006 3.015v13.569'/%3E%3Cpath stroke-linejoin='round' d='M19.993 24.008V7.015a3.016 3.016 0 0 1 6.03 0v16.993'/%3E%3Cpath stroke-linejoin='round' d='M26 23.716v-2.713a3 3 0 0 1 6 0v3'/%3E%3C/g%3E%3C/svg%3E");

  /* https://icon-sets.iconify.design/material-symbols/pinch-zoom-in-outline-rounded/ */
  --ping-zoom-out-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m4.5 9.575l-2.425 2.4q-.225.2-.525.213t-.525-.213T.8 11.45t.225-.525l2.4-2.425H1.75q-.325 0-.537-.213T1 7.75t.213-.537T1.75 7H5q.425 0 .713.288T6 8v3.25q0 .325-.213.538T5.25 12t-.537-.213t-.213-.537zM9.55 4.5h1.7q.325 0 .538.213T12 5.25t-.213.538T11.25 6H8q-.425 0-.712-.288T7 5V1.75q0-.325.213-.537T7.75 1t.538.213t.212.537v1.7l2.4-2.425Q11.125.8 11.425.8t.525.225t.225.538t-.225.537zM14.825 23q-.6 0-1.15-.225t-.975-.65L8.3 17.7q-.3-.3-.275-.737t.325-.738q.4-.4.938-.538t1.062.013l1.65.475V8q0-.425.288-.712T13 7t.713.288T14 8v9.5q0 .5-.4.8t-.875.175l-1.15-.325l2.55 2.55q.125.125.313.213t.387.087H19q.825 0 1.413-.587T21 19v-4q0-.425.288-.712T22 14t.713.288T23 15v4q0 1.65-1.175 2.825T19 23zM16 11q.425 0 .713.288T17 12v3q0 .425-.288.713T16 16t-.712-.288T15 15v-3q0-.425.288-.712T16 11m3 1q.425 0 .713.288T20 13v2q0 .425-.288.713T19 16t-.712-.288T18 15v-2q0-.425.288-.712T19 12'/%3E%3C/svg%3E");

  /* https://icon-sets.iconify.design/material-symbols/pinch-zoom-out-outline-rounded/ */
  --pinch-zoom-in: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.55 10.5h1.7q.325 0 .538.213T6 11.25t-.213.538T5.25 12H2q-.425 0-.712-.288T1 11V7.75q0-.325.213-.537T1.75 7t.538.213t.212.537v1.7L4.95 7q.225-.225.525-.225T6 7t.225.525T6 8.05zm6.95-6.95L8.05 6q-.225.225-.525.225T7 6t-.225-.525T7 4.95L9.45 2.5h-1.7q-.325 0-.538-.213T7 1.75t.213-.537T7.75 1H11q.425 0 .713.288T12 2v3.25q0 .325-.213.538T11.25 6t-.537-.213t-.213-.537zM14.825 23q-.6 0-1.15-.225t-.975-.65L8.3 17.7q-.3-.3-.275-.737t.325-.738q.4-.4.938-.538t1.062.013l1.65.475V8q0-.425.288-.712T13 7t.713.288T14 8v9.5q0 .5-.4.8t-.875.175l-1.15-.325l2.55 2.55q.125.125.313.213t.387.087H19q.825 0 1.413-.587T21 19v-4q0-.425.288-.712T22 14t.713.288T23 15v4q0 1.65-1.175 2.825T19 23zM16 11q.425 0 .713.288T17 12v3q0 .425-.288.713T16 16t-.712-.288T15 15v-3q0-.425.288-.712T16 11m3 1q.425 0 .713.288T20 13v2q0 .425-.288.713T19 16t-.712-.288T18 15v-2q0-.425.288-.712T19 12'/%3E%3C/svg%3E");
}

.tutorial-icon {
  color: white;
  position: absolute;
  left: 120%;

  width: 50px;
  height: 50px;

  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.mouse-icon {
  top: 0;
}

.touch-icon {
  top: 50px;
}

.reference-object.rotate-animation {
  animation-name: reference-rotate;
}

.mouse-icon.rotate-animation {
  animation-name: mouse-rotate;
}

.touch-icon.rotate-animation {
  animation-name: mouse-rotate, touch-rotate-override;
}

@keyframes reference-rotate {
  0%, 10% {
    transform:
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(0deg);
  }
  90%, 100% {
    transform:
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(90deg);
  }
}

@keyframes mouse-rotate {
  0% {
    left: 150%;
    opacity: 0;
    content: var(--left-click-icon);
  }
  10% {
    left: 150%;
    opacity: 1;
  }
  90% {
    left: 110%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
    content: var(--left-click-icon);
  }
}

@keyframes touch-rotate-override {
  from {
    content: var(--one-finger-icon);
  }
  to {
    content: var(--one-finger-icon);
  }
}


.reference-object.zoom-animation {
  animation-name: reference-zoom;
}

.mouse-icon.zoom-animation {
  animation-name: mouse-zoom;
}

.touch-icon.zoom-animation {
  animation-name: mouse-zoom, touch-zoom-override;
}

@keyframes reference-zoom {
  0% {
    opacity: 0;
    transform:
      scale(1)
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(0deg);
  }
  10% {
    opacity: 1;
    transform:
      scale(1)
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(0deg);
  }
  90%, 100% {
    opacity: 1;
    transform:
      scale(2)
      translate(-25%, -25%)
      rotateX(50deg)
      rotateZ(0deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes mouse-zoom {
  0% {
    opacity: 0;
    content: var(--mouse-scroll-icon);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    content: var(--mouse-scroll-icon);
  }
}

@keyframes touch-zoom-override {
  from {
    content: var(--pinch-zoom-in);
  }
  to {
    content: var(--pinch-zoom-in);
  }
}


.reference-object.pan-animation {
  animation-name: reference-pan;
}

.mouse-icon.pan-animation {
  animation-name: mouse-pan;
}

.touch-icon.pan-animation {
  animation-name: mouse-pan, touch-pan-override;
}

@keyframes reference-pan {
  0%, 10% {
    transform:
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(0deg);
  }
  90%, 100% {
    transform:
      translate(-100%, -50%)
      rotateX(50deg)
      rotateZ(0deg);
  }
}

@keyframes mouse-pan {
  0% {
    left: 150%;
    opacity: 0;
    content: var(--right-click-icon);
  }
  10% {
    left: 150%;
    opacity: 1;
  }
  90% {
    left: 110%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
    content: var(--right-click-icon);
  }
}

@keyframes touch-pan-override {
  from {
    content: var(--two-finger-icon);
  }
  to {
    content: var(--two-finger-icon);
  }
}
