.tutorial-container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  /*display: flex;*/
}

.static-floor {
  width: 101px;
  height: 101px;
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);

  transform:
    rotateX(50deg)
    rotateZ(45deg);
  transform-style: preserve-3d;
  border-radius: 32px;
}

.reference-object {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 40px;
  height: 40px;
  background-color: white;

  transform:
    translate(-50%, -50%)
    rotateX(50deg)
    rotateZ(45deg);
  transform-style: preserve-3d;
  border-radius: 5px;

  animation-name: reference-rotate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.hand-icon {
  color: white;
  position: absolute;
  left: 150%;
  top: 40%;

  animation-name: hand-rotate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes reference-rotate {
  0%, 10% {
    transform:
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(0deg);
  }
  90%, 100% {
    transform:
      translate(-50%, -50%)
      rotateX(50deg)
      rotateZ(90deg);
  }

}

@keyframes hand-rotate {
  0% {
    left: 150%;
    opacity: 0;
  }
  10% {
    left: 150%;
    opacity: 1;
  }
  90% {
    left: 110%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes reference-pan {

}
